body {
    margin: 0;
}

header{
    background: #03a9fa;
    text-align: center;
}

.logo{
    color:#fff;
    font-family: 'Playfair Display';
    text-align: center;
    font-size: 40px;
}

header input {
    font-size: 20px;
    margin: 20px 0px;
}

.news_item{
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
}
